.chipsbar {
  /* display: flex; */
  align-items: center;
  position: fixed;
  padding-left: 24px;

  width: 100vw;
  height: 100vh;
  max-width: 100%;
  height: 57px;

  background-color: #fff;
  border-bottom: 1px solid var(--sideOptionActive);
  opacity: 0.98;
}

.slick-slide,
.slick-cloned {
  width: min-content !important;
}

.slide {
  display: flex !important;
  align-items: center !important;
  height: 100% !important;
}

.slick-arrow {
  background-color: red !important;
}
