.videoItem {
  margin-bottom: 20px;
  cursor: pointer;
}

.videoItem__thumbnail {
  position: relative;
}

.videoItem__thumbnail > img {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.videoItem__bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.videoItem__bottom__left {
  flex: 0.17;
}

.videoItem__bottom__middle {
  flex: 1;
}

.videoItem__title {
  font-weight: 500;
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2 ;
  -webkit-box-orient: vertical;
  margin-bottom: 5px;
}

.videoItem__channel, .videoItem__views, .videoItem__age {
  font-size: 14px;
  color: var(--dark-gray);
}

.avatar {
  border-radius: 50%;
  width: 36px;
}

.videoItem__bottom__right > .MuiSvgIcon-root {
  color: var(--gray) !important;
}

.videoItem__bottom__right > .MuiSvgIcon-root:hover {
  color: var(--dark-gray) !important;
}

.btnOverlay__holder {
  position: absolute;
  right: 5px;
  top: 5px;
}
