.sidebarOption {
  display: flex;
  align-items: center;
  padding: 8px 22px;
  cursor: pointer;
}

.sidebarOption:hover {
  background-color: var(--sideOptionHover);
}

.sidebarOption > .MuiSvgIcon-root {
  font-size: 23px;
}

.sidebarOption > span {
  font-size: 14px;
  margin-left: 25px;
}

.sidebarOption > img {
  width: 25px;
  border-radius: 50%;
}

.sidebarOption--active {
  font-weight: 500;
  background-color: var(--sideOptionActive);
}

.sidebarOption--active > .MuiSvgIcon-root {
  color: var(--youtube-main) !important;
}

.sidebarOption--active:hover {
  background-color: #d9d9d9;
}

@media (max-width: 1330px) {
  .sidebarOption {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 65px;
  }

  .sidebarOption > .MuiSvgIcon-root {
    margin-bottom: 5px;
  }

  .sidebarOption > span {
    font-size: 10px;
    margin: 0;
  }
}
