/* Font Family */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* Color variables */
:root {
  --youtube-main: #ff0000;

  --soft-gray: #f9f9f9;
  --soft-gray-hvr: #f0f0f0;
  --light-gray: #ccc;
  --gray: #808080;
  --dark-gray: #606060;

  --sideOptionActive: #e6e6e6;
  --sideOptionActiveHover: #d9d9d9;
  --sideOptionHover: #f2f2f2;

  --chipsBg: #f2f2f2;
  --chipsBgHover: #e6e6e6;
}

/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Arial", "sans-serif";
}

a:focus,
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: inherit;
}

.MuiSvgIcon-root {
  color: var(--dark-gray) !important;
}

.MuiTooltip-tooltip {
  border-radius: 2px !important;
  font-size: 12px !important;
  padding: 10px !important;
  background-color: rgba(96, 96, 96, 0.9) !important;
}
